

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
button{
  border-color: #4E47FF;
  background-color: #4E47FF;
  border-radius: 10px;
  background-repeat: no-repeat;
  
  
}
.text-primary{
  color: #FFFFFF;
  font-weight: bold;
  padding: 12px 36px;
  
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
margin: 20px 150px;
padding: 0px 50px;
}
h3{
  color: #4E47FF;
}
.banner-content{ text-align: center;
        margin-top: 100px;
        


}
h1{
  color: #252432;
  font-weight: bold;
  margin-bottom: 30px;
}
header{
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
}
 